---
import Layout from '../layouts/Layout.astro'
import { Example } from 'layouts/animate'
---

<Layout title="Welcome to Astro.">
	<main style="text-align: center;">
		<h1>Well, this still pretty much sucks :(</h1>
		<p>
			I thinks that's all on christmas, until i get bored in a few minutes
		</p>
		<Example client:only/>
	</main>
</Layout>